@import "tailwindcss";

@theme {
    --color-brightred-400: hsl(7, 99%, 70%);
    --color-yellow-500: hsl(51, 100%, 49%);
    --color-green-800: hsl(167, 40%, 24%);
    --color-blue-800: hsl(198, 62%, 26%);
    --color-green-500: hsl(167, 34%, 41%);

    --font-body: Barlow;
    --font-headings: Fraunces;
}